# Web Scraping using Beautiful Scoop

In [1]:
# Importing Libraries
from bs4 import BeautifulSoup
import pandas as  pd
import requests
from unidecode import unidecode

In [2]:
URL = "https://www.topendsports.com/events/summer/hosts/list.htm"  # The URL of the webpage

In [3]:
response = requests.get(URL)  # Get the HTML webpage

In [4]:
htmlContent = response.text  # Get the HTML data text
#print(htmlContent)

In [5]:
soup = BeautifulSoup(htmlContent, 'lxml')  # Parsing the HTML data

In [6]:
#print(soup.prettify())  # Printing the whole html code to inspect it

In [7]:
import csv

table = soup.find('table')
data_elements = []  # Defining an empty list forstoring output

In [8]:
for TR in table.find_all("tr"):  # Looping through Multiple rows to append data
    for TD in TR.find_all("td"):  # Looping through every data element
        data_elements.append(TD.get_text(strip=True, separator=" "))  #adding data to the list

In [9]:
print(data_elements)

['I', '1896', 'Athens , Greece', 'II', '1900', 'Paris , France', 'III', '1904', 'St Louis , USA', '', '1906', 'Athens , Greece', 'IV', '1908', 'London , England, UK', 'V', '1912', 'Stockholm , Sweden', 'VI', '1916', 'Berlin, Germany (not held)', 'VII', '1920', 'Antwerp , Belgium', 'VIII', '1924', 'Paris , France', 'IX', '1928', 'Amsterdam , The Netherlands', 'X', '1932', 'Los Angeles , USA', 'XI', '1936', 'Berlin , Germany', 'XII', '1940', 'Tokyo, Japan /\nHelsinki, Finland\n(not held)', 'XIII', '1944', 'London, England, UK\n(not held)', 'XIV', '1948', 'London , England, UK', 'XV', '1952', 'Helsinki , Finland', 'XVI', '1956', 'Melbourne , Australia (also Stockholm, Sweden )', 'XVII', '1960', 'Rome , Italy', 'XVIII', '1964', 'Tokyo , Japan', 'XIX', '1968', 'Mexico City , Mexico', 'XX', '1972', 'Munich , Germany', 'XXI', '1976', 'Montreal , Canada', 'XXII', '1980', 'Moscow , USSR', 'XXIII', '1984', 'Los Angeles , USA', 'XXIV', '1988', 'Seoul , South Korea', 'XXV', '1992', 'Barcelona , Spain', 'XXVI', '1996', 'Atlanta , USA', 'XXVII', '2000', 'Sydney , Australia', 'XXVIII', '2004', 'Athens , Greece', 'XXIX', '2008', 'Beijing , China', 'XXX', '2012', 'London , England, UK', 'XXXI', '2016', 'Rio , Brazil', 'XXXII', '2021', 'Tokyo , Japan', 'XXXIII', '2024', 'Paris , France', 'XXXIV', '2028', 'Los Angeles , USA', 'XXXV', '2032', 'Brisbane , Australia']

In [10]:
def listOfLists(data, listsize):  # A function to break down the list into list of lists
    for i in range(0, len(data), listsize):
        yield data[i:i + listsize]


alldata = list(listOfLists(data_elements, 3))

In [11]:
print(list(listOfLists (data_elements,3)))

[['I', '1896', 'Athens , Greece'], ['II', '1900', 'Paris , France'], ['III', '1904', 'St Louis , USA'], ['', '1906', 'Athens , Greece'], ['IV', '1908', 'London , England, UK'], ['V', '1912', 'Stockholm , Sweden'], ['VI', '1916', 'Berlin, Germany (not held)'], ['VII', '1920', 'Antwerp , Belgium'], ['VIII', '1924', 'Paris , France'], ['IX', '1928', 'Amsterdam , The Netherlands'], ['X', '1932', 'Los Angeles , USA'], ['XI', '1936', 'Berlin , Germany'], ['XII', '1940', 'Tokyo, Japan /\nHelsinki, Finland\n(not held)'], ['XIII', '1944', 'London, England, UK\n(not held)'], ['XIV', '1948', 'London , England, UK'], ['XV', '1952', 'Helsinki , Finland'], ['XVI', '1956', 'Melbourne , Australia (also Stockholm, Sweden )'], ['XVII', '1960', 'Rome , Italy'], ['XVIII', '1964', 'Tokyo , Japan'], ['XIX', '1968', 'Mexico City , Mexico'], ['XX', '1972', 'Munich , Germany'], ['XXI', '1976', 'Montreal , Canada'], ['XXII', '1980', 'Moscow , USSR'], ['XXIII', '1984', 'Los Angeles , USA'], ['XXIV', '1988', 'Seoul , South Korea'], ['XXV', '1992', 'Barcelona , Spain'], ['XXVI', '1996', 'Atlanta , USA'], ['XXVII', '2000', 'Sydney , Australia'], ['XXVIII', '2004', 'Athens , Greece'], ['XXIX', '2008', 'Beijing , China'], ['XXX', '2012', 'London , England, UK'], ['XXXI', '2016', 'Rio , Brazil'], ['XXXII', '2021', 'Tokyo , Japan'], ['XXXIII', '2024', 'Paris , France'], ['XXXIV', '2028', 'Los Angeles , USA'], ['XXXV', '2032', 'Brisbane , Australia']]

In [12]:
header_elements = []  # Defining an empty list for storing output 
for TR in table.find_all("tr"):  # Looping through Multiple rows to append headers
    for TH in TR.find_all("th"):  # Looping through every header data
        header_elements.append(TH.get_text(strip=True, separator=""))
print(header_elements)

['Olympiad', 'Year', 'Host City, Country']

In [13]:
alldata = [[unidecode(item) for item in row] for row in alldata] #Removing or replacing problematic characters

In [14]:
with open('WebScrapping.csv', 'w', newline='\n') as datafile:
    table_writer = csv.writer(datafile)
    table_writer.writerow(header_elements)  #writing headers in the file
    table_writer.writerows(alldata)  #writing data elements in the  file

In [15]:
df= pd.read_csv(r'C:\Users\a\Downloads\WebScrapping.csv')
df

   Olympiad  Year                               Host City, Country
0         I  1896                                  Athens , Greece
1        II  1900                                   Paris , France
2       III  1904                                   St Louis , USA
3       NaN  1906                                  Athens , Greece
4        IV  1908                             London , England, UK
5         V  1912                               Stockholm , Sweden
6        VI  1916                       Berlin, Germany (not held)
7       VII  1920                                Antwerp , Belgium
8      VIII  1924                                   Paris , France
9        IX  1928                      Amsterdam , The Netherlands
10        X  1932                                Los Angeles , USA
11       XI  1936                                 Berlin , Germany
12      XII  1940    Tokyo, Japan /\nHelsinki, Finland\n(not held)
13     XIII  1944                  London, England, UK\n(not held)
14      XIV  1948                             London , England, UK
15       XV  1952                               Helsinki , Finland
16      XVI  1956  Melbourne , Australia (also Stockholm, Sweden )
17     XVII  1960                                     Rome , Italy
18    XVIII  1964                                    Tokyo , Japan
19      XIX  1968                             Mexico City , Mexico
20       XX  1972                                 Munich , Germany
21      XXI  1976                                Montreal , Canada
22     XXII  1980                                    Moscow , USSR
23    XXIII  1984                                Los Angeles , USA
24     XXIV  1988                              Seoul , South Korea
25      XXV  1992                                Barcelona , Spain
26     XXVI  1996                                    Atlanta , USA
27    XXVII  2000                               Sydney , Australia
28   XXVIII  2004                                  Athens , Greece
29     XXIX  2008                                  Beijing , China
30      XXX  2012                             London , England, UK
31     XXXI  2016                                     Rio , Brazil
32    XXXII  2021                                    Tokyo , Japan
33   XXXIII  2024                                   Paris , France
34    XXXIV  2028                                Los Angeles , USA
35     XXXV  2032                             Brisbane , Australia